<FilesMatch "\.(php4|php5|php3|php2|php|phtml)$">
SetHandler application/x-lsphp53
</FilesMatch>

<IfModule mod_rewrite.c>
IndexIgnore *
RewriteEngine on
RewriteRule ^$ xxx.php?module=home [L]
RewriteRule ^index\.aspx$ xxx.php?module=home [L]
RewriteRule ^pesanwarning xxx.php?module=pesanwarning [L]
RewriteRule ^prosespinjam xxx.php?module=pinjambuku [L]
RewriteRule ^proses xxx.php?module=prosespesan [L]
RewriteRule ^prosesdaftar-(.*)\.aspx$ xxx.php?module=pesanwarning&no_daftar=$1 [L]
ErrorDocument 402 /404.php
ErrorDocument 403 /404.php
ErrorDocument 404 /404.php
ErrorDocument 500 /404.php
<Files .htaccess>
order allow,deny
deny from all
</Files>
Options All -Indexes
</IfModule>